:root{
  --vuePrimaryColor:#42b883;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
  scroll-padding-top: 49.14px;
}

#app {
    font-family:  sans-serif;
    color: #ebebeb99;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #1a1a1a;
    padding: 0 10%;
    top: 0;
    left: 0;

  }



  button{
    border: none;
    padding: .5rem 1.5rem;
    background-color:var(--vuePrimaryColor);
    color: #fff;
    font-size: smaller;

  }
  button.logout{
    background-color: transparent;
    cursor: pointer;
  }
  label{
    display: block;
  }
  input,input:active,input:focus{
    margin: 1rem 0;
    border: 0.5px solid #42b88329;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: .5rem ;
    width: 50%;
  }





  /* width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
