<template>
  <div>
    <navigation-bar />
    <headings-text>
      <template v-slot:h5> Create </template>
    </headings-text>
    <form @submit.prevent="create">
      <label>
        <input type="text" v-model="title" placeholder="Todo Title" required />
      </label>
      <label>
        <input
          type="text"
          v-model="description"
          placeholder="Description"
          required
        />
      </label>
      <button type="submit">Create</button>
    </form>
  </div>
</template>

<script>
import NavigationBar from "@/components/NavigationBar.vue";
import HeadingsText from "@/components/HeadingsText.vue";

export default {
  name: "CreateToDoScreen",
  components: { NavigationBar, HeadingsText },
  data() {
    return {
      title: "",
      description: "",
    };
  },
  methods: {
    create() {
      if (this.title && this.description) {
        this.$store.dispatch("createTodo", {
          title: this.title,
          description: this.description,
        });
      }
    },
  },
};
</script>

<style>
</style>