<template>
  <div>
    <navigation-bar/>
    
      <headings-text>
        <template v-slot:h1>
          Get The Best <br/> Todo App!
        </template>
      </headings-text>
    <p>Please <router-link to="login">Login</router-link> or
      <router-link to="register">Register</router-link> to continue.
      <!-- <router-link to="404">404</router-link> -->
    </p>
  </div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue';
import HeadingsText from '@/components/HeadingsText.vue';
export default {
  components: { NavigationBar, HeadingsText },
  name: "WelcomeScreen",
};
</script>

<style scoped>
p{
  color: #ebebeb99;
}
p a{
  color: #42b883;
}


</style>
