<template>
  <div>
    <navigation-bar/>
    <headings-text>
      <template v-slot:h5> Login </template>
    </headings-text>
    <form @submit.prevent="login">
        <label>
         
          <input type="text" v-model="email" placeholder=" Email" required/>
        </label>
        <label>
          <input type="password" v-model="password" placeholder="Password" required />
        </label>
        <button type="submit">Log in</button>
      </form>
      <go-back/>
</div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue';
import GoBack from '@/components/GoBack.vue';
import HeadingsText from '@/components/HeadingsText.vue';

export default {
    name: "LoginScreen",
    data() {
        return {
            email: "",
            password: ""
        };
    },
    methods: {
        login() {
            this.$store.dispatch("login", {
                email: this.email,
                password: this.password
            })
            
        },
    },
    components: { NavigationBar, GoBack, HeadingsText }
}
</script>

<style>

</style>