<template>
<div class="wrapper">
  <div class="card">
  <headings-text>
    <template v-slot:h1> 404 Page Not Found. </template>
  </headings-text>
  </div>
  <go-back/>

</div>
</template>

<script>
import GoBack from '@/components/GoBack.vue'
import HeadingsText from '@/components/HeadingsText.vue'
export default {
  components: { GoBack, HeadingsText },
 name:'PageNotFoundScreen'
}
</script>

<style scoped>
.wrapper {

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 50vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: box .5s ease-in ;
  

}
h1{
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4rem;
  animation: fadeIn 1s  ease-in-out;

}

@keyframes box {
  from{
      opacity: 0;
      filter: blur(30px);

  }
  to{
      opacity: 1;
      filter: blur(0px);
  }
  
}
@keyframes fadeIn {
  from{
      opacity: 0;
      filter: blur(30px);
      transform: rotateY(180deg);
  }
  to{
      opacity: 1;
      filter: blur(0);
      transform: rotateY(0deg);

  }
  
}


</style>