<template>
  <div>
    <navigation-bar/>
    <headings-text>
      <template v-slot:h4>
        Register
      </template>
    </headings-text>
    <form @submit.prevent="register">
      <label>
        <input type="text" v-model="email" placeholder="Email" required  />
      </label>
      <label>
        
        <input type="password" v-model="password" placeholder="New Password" required />
      </label>
      <label>
        <input type="password" v-model="password_confirmation" placeholder="Re-enter Password" required />
      </label>
      <button type="submit">Register</button>
    </form>
    <go-back/>
</div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue'
import GoBack from '@/components/GoBack.vue'
import HeadingsText from '@/components/HeadingsText.vue'
export default {
  components: { NavigationBar, GoBack, HeadingsText },
  name: 'RegisterScreen',
  data() {
    return {
      email:"",
      password:"",
      password_confirmation:""
    }
  },
  methods:{
    register(){
      this.$store.dispatch("registerNewUser",{
        email: this.email,
        password:this.password,
        password_confirmation: this.password_confirmation
      })
    }
  }
}
</script>

<style>

</style>