<template>
  <div>
    <navigation-bar/>
      <headings-text>
        <template v-slot:h5>
          Todo
        </template>
      </headings-text>
        <div class="card">
          <input type="text" placeholder="Search">
          <ul>
            <li v-for="item  in  todoItems" :key="item.id"  :class="item.completed === 1 ? 'done' : ''">
              <router-link to="update">
              {{ item.title}}
             
            </router-link>
            <span @click="deleteItem(item.id)" class="del"><i class="fas fa-trash-alt"></i></span>
          </li> 
            </ul>
        </div>
   
  </div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue'
import { mapGetters } from 'vuex'
import HeadingsText from '@/components/HeadingsText.vue'

export default {
  components: { NavigationBar, HeadingsText },
    name: 'ToDoListScreen',
    mounted(){
      this.$store.dispatch("getTodoItems")
    },
    computed:{
      ...mapGetters(['todoItems'])
    },
    methods:{
      deleteItem(itemId){
        this.$store.dispatch("deleteTodo", itemId)
      }
    }
    
    

}
</script>

<style scoped>


input{
  width: 100%;
  margin-top:1rem ;
}
.card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  animation: box .5s ease-in ;
  padding:1rem 3rem;
  min-height: 60vh;
  max-height: 80vh;
  overflow: hidden;
  overflow-y:auto ;

}
ul{
  list-style-type: decimal;
}
ul li {
  height: 52px;
  margin: .3rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: all 500ms;
  border: .5px solid rgba(255, 255, 255, 0.027);
 
}
ul li a{
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
    transition: all 500ms;
}
ul li:hover {
  background:linear-gradient(315deg,#42d392 25%,#647eff);
  transform: scale(1.05);
  text-shadow: 0 0 5px #000;

}
ul li:hover a {
  color: #fff;
 
}
.done{
  background-color: #42d392;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.del{
display: flex;
justify-content: center;
align-items: center;
  color: #fff;
  flex-basis: 50px;
  cursor: pointer;
 
  transition: all 300ms;
}


.del:hover{
  transform: scale(1.3);
}
a{
  color:var(--vuePrimaryColor);

}
@keyframes box {
  from{
      opacity: 0;
      filter: blur(30px);

  }
  to{
      opacity: 1;
      filter: blur(0px);
  }
  
}
</style>