<template>
    <div>
    <navigation-bar/>    
      <headings-text>
        <template v-slot:h5>
            View/Update
          </template>
      </headings-text>

    
    </div>
</template>

<script>
import NavigationBar from '@/components/NavigationBar.vue'
import HeadingsText from '@/components/HeadingsText.vue'
export default {
  components: { NavigationBar, HeadingsText },
 name:'ViewUpdateToDoScreen'
}
</script>

<style>

</style>