<template>
    <div class="goBackWrapper">
    <div class="goBack">
        <router-link to="/">Go to Home</router-link>
      </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.goBackWrapper{
  display: flex;
  justify-content: center;
 position: fixed;
 left: 0;
 right: 0;
 bottom: 0;
}
.goBack{
    animation: balance 1s infinite ease-in-out;
  }
  .goBack a{
    color: #fff;
    padding: 1rem;
    display: block;
  
  }
  @keyframes balance {
  0%{
      transform: rotate(0deg);
  }
  20%{

      transform: rotate(-5deg);

  }
  40%{

    transform: rotate(0deg);

}
80%{

  transform: rotate(5deg);

}
100%{

  transform: rotate(0deg);

}

  
}



</style>