<template>
    <div>
        <h1><slot name="h1"></slot></h1>
        <h2><slot name="h2"></slot></h2>
        <h3><slot name="h3"></slot></h3>
        <h4><slot name="h4"></slot></h4>
        <h5><slot name="h5"></slot></h5>
        <h6><slot name="h6"></slot></h6>
   </div>
</template>

<script>
export default {

}
</script>

<style scoped>
*{
    background:linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1,h2,h3,h4,h5,h6{
    width: fit-content;
    font-weight:900 ;
    animation: fadeIn 1s  ease-in-out;
    margin-bottom: 1rem;
}
    h1{
        font-size: 76px;
       
    }
    h2{
        font-size: 66px;
      
    }

    h3{
        font-size: 56px;
       
    }
    h4{
        font-size: 46px;
     
    }
    h5{
        font-size: 36px;
     
    }
    h6{
        font-size: 26px;
     
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
            filter: blur(30px);
            transform: rotateY(180deg);
        }
        to{
            opacity: 1;
            filter: blur(0);
            transform: rotateY(0deg);
      
        }
        
      }
</style>