<template>
  <nav v-show="isLoggedIn">
    <ul>
      <li>
        <svg class="logo" viewBox="0 0 128 128" width="24" height="24" data-v-53ccc107=""><path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-53ccc107=""></path><path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-53ccc107=""></path></svg>
      </li>
      <li><router-link to="/todo">Todo</router-link></li>
      <li><router-link to="/create">Create</router-link></li>
    </ul>
    <ul>
      <li><button @click="logout" class="logout">Logout</button></li>
    </ul>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "NavigationBar",
  data() {
    return {
      token: "",
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn"]),
  },
};
</script>

<style scoped>
nav {
border-bottom: 1px solid #5454547a;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  padding: 1rem 1.5rem;
  font-size: 13px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}

</style>