<template>
  <router-view v-show="!isLoading" />
  <loader-wheel v-show="isLoading"/>
</template>

<script>
import { mapGetters } from 'vuex'
import LoaderWheel from './components/LoaderWheel.vue'


export default {
  components: { LoaderWheel },
  name: 'App',

  computed:{
    ...mapGetters(['isLoading'])
  }
}
</script>


